<div class="d-flex justify-content-center mt-3"><h2 class="">Products</h2></div>

<div class="m-3 mb-0"><a href="/admin/add-product"><button
                  type="button"
                  class="btn btn-success"
                >+Add Products</button></a></div>
<div class="container-fluid mt-3 mb-5">
  <table class="table table-success table-striped" id="example">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Prise</th>
        <th scope="col">Stock</th>
         <th scope="col">Image</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {{#each products}}
         {{#unless this.isBlocked}}
          <tr>
            <td>{{@index}}</td>
            <td>{{this.product_name}}</td>
            <td>{{this.category.category}}</td>
            <td>Rs.{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td><img src="/images/{{this._id}}.jpg" class="img-thumbnail" alt="" style="width:4rem"></td>
            <td>
                <div class="d-flex justify-content-end">
                    <div class="me-3"><a href="/admin/edit-product/{{this._id}}"><button
                  type="button"
                  class="btn btn-success"
                >Edit</button></a></div>
                <div class="me-3"><a href="/admin/block-product/{{this._id}}"><button
                  type="button"
                  class="btn btn-danger"
                >Delete</button></a></div>
                </div>
                
            </td>
            
          </tr>
       {{/unless}}
      {{/each}}
    </tbody>
  </table>
</div>


<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"
/>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
  src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"
></script>
<script
  src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"
></script>


<script>
  $(document).ready(function () { $('#example').DataTable(); });
</script>