<div class="d-flex justify-content-center mt-3"><h2 class="">Users</h2></div>
<div class="container-fluid mt-3">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile Number</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.mobile_number}}</td>
          {{#if this.isBlocked}}
            <td><a href="/admin/unblocking-user/{{this._id}}"><button
                  type="button"
                  class="btn btn-success"
                >UnBlock</button></a></td>
          {{else}}
            <td><a href="/admin/blocking-user/{{this._id}}"><button
                  type="button"
                  class="btn btn-danger"
                >Block</button></a></td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>