
<div class="container mt-5 mb-5 m-lg-5">
    <div class="row m-lg-5 justify-content-center">
        <div class="col-md-4 order-md-2 mb-4">
            <h5 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart has {{cart.numberOfItems.totalItems}} Items</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h5>
            <ul class="list-group mb-3">
                 {{#each cart.data}}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                     <div>
                    <img
                      src="/images/{{this.productDetails._id}}.jpg"
                      class="img-fluid rounded-3"
                      alt="Shopping item"
                      style="width: 20px; height: 20px;"
                    />
                     </div>
                    <div><p class="text-muted">{{this.productDetails.product_name}}</p></div>
                    <div><small class="text-muted">{{this.productQuantity}}</small></div>
                    <div> <h6 class="text-muted"><span><i class="bi bi-currency-rupee"></i>{{this.productPrice}}</h6></div>
                </li>
                 {{/each}}
                  <!-- coupon -->
                  <li class="list-group-item d-flex justify-content-between">
                    <span>Coupon Discount</span>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Apply Coupon
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apply Coupon</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="card p-2"  id="couponcheck" action="/couponcheck" method="post" >
                <div class="input-group">
                    <input type="text" class="form-control" name="promocode" placeholder="Promo code">
                </div>
                <div class="input-group">
                    <input type="hidden" class="form-control" name="total" value="{{cart.totalAmount.Amount}}">
                </div>
                 {{#each coupons}}
                 <div>
                     <hr>
                        <h5 class="text-danger">{{this.couponName}}</h5>
                        <p>{{this.discount}} % Discount</p>
                        <p>Maximum Limit Rs.{{this.maxLimit}}</p>
                        <p>Valid Upto:{{this.expirationTime}}</p>
                  </div>
                    {{/each}}
                <div class="modal-footer">
                
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Apply</button>
      </div>
        </form> 
      </div>
      
    </div>
  </div>
</div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total MRP </span>
                    <strong id="total-amount"><i class="bi bi-currency-rupee"></i>{{cart.totalAmount.Amount}}</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Discount:</span>
                    <strong id="discount"><span>-</span><i class="bi bi-currency-rupee"></i>{{discount}}</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total </span>
                    <strong id="total"><i class="bi bi-currency-rupee"></i>{{total}}</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h5 class="mb-3">Billing address</h5>
            <form class="" id="placeorder-form" onsubmit="return checkAddressForm(this)">
                <div class="mb-3">
                    <label for="name">Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" >
                         <p id="nameError" style="color: red"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address1">Line 1</label>
                    <input type="text" class="form-control" id="address-line1" name="address1" placeholder="Housename" >
                     <p id="addressline1Error" style="color: red"></p>
                </div>
                <div class="mb-3">
                    <label for="address2">Line 2</label>
                    <input type="text" class="form-control" id="address-line2"  name="address2" placeholder="landmark area district  postoffice">
                   <p id="addressline2Error" style="color: red"></p>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" name="country">
                            <option value="">Choose...</option>
                            <option>India</option>
                        </select>
                        <p id="countryError" style="color: red"></p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" value="" name="state" >
                            <option value="">Choose...</option>
                            <option>Kerala</option>
                            <option>Karnataka</option>
                            <option>Tamilnadu</option>
                            <option>Telengna</option>
                        </select>
                        <p id="stateError" style="color: red"></p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="pincode">Pincode</label>
                        <input type="text" class="form-control" id="pincode" name="pincode" placeholder="">
                        <p id="pincodeError" style="color: red"></p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="hidden" class="form-control" id="final_total" name="final_total" placeholder="" value="{{total}}">
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox" id="checkbox" onclick="permanentAddress()">
                    <input type="checkbox" class="custom-control-input" id="permanent-address" name="address" value="permanent-address">
                    <label class="custom-control-label" for="permanent-address">Billing address is the same as my permanent address</label>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" value="Cash On Delivery" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Cash On Delivery</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" value="Online Payment" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="debit">Online Payment</label>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-success btn-lg btn-block" type="submit">PLACE ORDER</button>
            </form>
        </div>
    </div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

// form-validation
function checkAddressForm(form) {
    let username = document.getElementById("name");
    let addressline1 = document.getElementById("address-line1");
    let addressline2 = document.getElementById("address-line2");
    let country = document.getElementById("country");
    let state = document.getElementById("state");
    let pincode = document.getElementById("pincode");


   var regex = /^[a-zA-Z\s]+$/;
   if (username.value == "") {
    document.getElementById("nameError").innerHTML = "please enter your name";
    username.focus();
    return false;
  }
   if (regex.test(username.value) === false) {
    document.getElementById("nameError").innerHTML =
      "name should not contain special characters";
    username.focus();
    return false;
  }
   if (addressline1.value == "") {
    document.getElementById("addressline1Error").innerHTML = "please enter your this field";
    username.focus();
    return false;
  }
   if (addressline2.value == "") {
    document.getElementById("addressline2Error").innerHTML = "please enter your this field";
    username.focus();
    return false;
  }
  if (country.value == "") {
    document.getElementById("countryError").innerHTML = "please select your country";
    username.focus();
    return false;
  }
  if (state.value == "") {
    document.getElementById("stateError").innerHTML = "please select your state";
    username.focus();
    return false;
  }
  if (pincode.value == "") {
    document.getElementById("pincodeError").innerHTML = "please enter your pincode";
    username.focus();
    return false;
  }
   return true;
}


// form-submission
$("#placeorder-form").submit((e) => { 
  const verify = checkAddressForm();
  const totalAmount = document.getElementById("total-amount").innerHTML;
  e.preventDefault();
   if(verify){
     $.ajax({
    url:'/placeorder',
    method:'post', 
    data: $("#placeorder-form").serialize(),
    success: (response) => { 
      if(response.success){
         location.href = '/ordersuccess'
      }else{
        razorPayPayment(response);
      }
    }

  })
    
  } 
 
});



// online-payment

function razorPayPayment(order){
    var options = {
    "key": "rzp_test_67LSSBDdHnNhox", 
    "amount": order.amount, 
    "currency": "INR",
    "name": "Nest fashion",
    "description": "Test Transaction",
    "image": "/images/nestfashionLogo.png",
    "order_id": order.id, 
    "handler": function (response){
        veryfyPayment(response,order);
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
         location.href = "/paymentFailed";
});
 rzp1.open();
    
}

function veryfyPayment(payment,order){
    $.ajax({
        url:'/verifyPayment',
        data:{
            payment,
            order
        },
        method:'post',
        success:(response) => {
            if(response.paymentSuccess){
                 location.href = '/ordersuccess'
            }
            else{
                 location.href = "/paymentFailed";
            }
        }
    })
}

// address

function permanentAddress(){
  $.ajax({
    url:'/permenanAddress',
    method:'get',
    success: (response) =>{
      if(response.status){
        document.getElementById('name').value = response.address.name;
        document.getElementById('address-line1').value = response.address.permanentAddress.housename;
        document.getElementById('address-line2').value = response.address.permanentAddress.area+","+response.address.permanentAddress.landmark+","+response.address.permanentAddress.district+","+response.address.permanentAddress.postoffice;
         document.getElementById('country').value = response.address.permanentAddress.country;
        document.getElementById('state').value = response.address.permanentAddress.state;
        document.getElementById('pincode').value = response.address.permanentAddress.pincode;
      }
      if(response.addressNotexist){
        Swal.fire({
          title: "You dont have permenant address",
          icon: "success",
          confirmButtonText: "OK",
        });
      }
    }
  })
}

</script>