<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
        <div class="d-flex card-header py-3">
            <h5 class="mb-0">Select a Address for Delivery</h5>
            </div>
          
          <div class="card-body">
            <!-- Single item -->
           
            {{#each address.shippingAddress}}
              <hr class="my-4" />
              
              <div class="row">

                    <div class="row col-lg-5 col-md-6 mb-4 mb-lg-0">
                      <h6>{{this.name}} {{this.pincode}}</h6>
                      <p>{{this.housename}} {{this.landmark}} {{this.area}} {{this.district}} {{this.state}} {{this.postoffice}}</p>
                    </div>

                    <div class="d-flex col-lg-4 col-md-6 mb-4 mb-lg-0 ms-auto">
                      <div><button
                          type="button"
                          class="btn btn-secondary btn-block"
                        >Remove</button></div>
                      <!-- Modal -->
                      <div class="ms-2">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal1"
                          data-bs-whatever="@mdo"
                        >
                          Edit
                        </button>
                        <div
                          class="modal fade"
                          id="exampleModal1"
                          tabindex="-1"
                          aria-labelledby="exampleModalLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1
                                  class="modal-title fs-5"
                                  id="exampleModalLabel"
                                >
                                  Edit Address
                                </h1>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <form action="/addNewAddress" method="post">
                                <div class="modal-body">
                                  <div class="mb-3">
                                    <label
                                      for="recipient-name"
                                      class="col-form-label"
                                    >Name:</label>
                                    <input
                                      required
                                      type="text"
                                      class="form-control"
                                      id="name"
                                      name="name"
                                    />
                                    <p id="nameError" style="color: red"></p>
                                  </div>
                                  <div class="mb-3">
                                    <label
                                      for="recipient-name"
                                      class="col-form-label"
                                    >Mobile Number:</label>
                                    <input
                                      required
                                      type="text"
                                      class="form-control"
                                      id="mobile"
                                      name="mobile_number"
                                    />
                                    <p id="mobileError" style="color: red"></p>
                                  </div>
                                  <div class="mb-3">
                                    <label
                                      for="recipient-name"
                                      class="col-form-label"
                                    >Housename:</label>
                                    <input
                                      required
                                      type="text"
                                      class="form-control"
                                      id="housename"
                                      name="housename"
                                    />
                                    <p id="houseError" style="color: red"></p>
                                  </div>
                                  <div class="mb-3">
                                    <label
                                      for="recipient-name"
                                      class="col-form-label"
                                    >Area:</label>
                                    <input
                                      required
                                      type="text"
                                      class="form-control"
                                      id="area"
                                      name="area"
                                    />
                                    <p id="areaError" style="color: red"></p>
                                  </div>
                                  <div class="mb-3">
                                    <label
                                      for="recipient-name"
                                      class="col-form-label"
                                    >Landmark:</label>
                                    <input
                                      required
                                      type="text"
                                      class="form-control"
                                      id="landmark"
                                      name="landmark"
                                    />
                                    <p
                                      id="landmarkError"
                                      style="color: red"
                                    ></p>
                                  </div>
                                  <div class="mb-3">
                                    <div class="row">
                                      <div class="col-md-6 mb-3">
                                        <label for="firstName">District</label>
                                        <input
                                          required
                                          type="text"
                                          class="form-control"
                                          id="district"
                                          name="district"
                                        />
                                        <p
                                          id="stateError"
                                          style="color: red"
                                        ></p>
                                      </div>
                                      <div class="col-md-6 mb-3">
                                        <label for="lastName">State</label>
                                        <input
                                          required
                                          type="text"
                                          class="form-control"
                                          id="state"
                                          name="state"
                                        />
                                        <p
                                          id="pincodeError"
                                          style="color: red"
                                        ></p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="mb-3">
                                    <div class="row">
                                      <div class="col-md-6 mb-3">
                                        <label for="firstName">Post office</label>
                                        <input
                                          required
                                          type="text"
                                          class="form-control"
                                          id="postoffice"
                                          name="postoffice"
                                        />
                                        <p
                                          id="stateError"
                                          style="color: red"
                                        ></p>
                                      </div>
                                      <div class="col-md-6 mb-3">
                                        <label for="lastName">Pincode</label>
                                        <input
                                          required
                                          type="text"
                                          class="form-control"
                                          id="pin"
                                          name="pincode"
                                        />
                                        <p
                                          id="pincodeError"
                                          style="color: red"
                                        ></p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                  >
                                    Cancel
                                  </button>
                                  <button
                                    type="submit"
                                    value="submit"
                                    class="btn btn-success"
                                  >
                                    Edit
                                  </button>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Modal -->
                    </div>
                  </div>
                  <!-- Single item -->
                  
                {{/each}}
          </div>
        </div>
        <div class="card mb-4">
        <div class="card-body">
            <!-- Modal -->
            <button
              type="button"
              class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@mdo"
            >
              Add New Address
            </button>
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Add New Address
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <form action="/user/addAddress" method="post">
                    <div class="modal-body">
                      <div class="mb-3">
                        <label
                          for="recipient-name"
                          class="col-form-label"
                        >Name:</label>
                        <input
                          required
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                        />
                        <p id="nameError" style="color: red"></p>
                      </div>
                      <div class="mb-3">
                        <label
                          for="recipient-name"
                          class="col-form-label"
                        >Mobile Number:</label>
                        <input
                          required
                          type="text"
                          class="form-control"
                          id="mobile"
                          name="mobile_number"
                        />
                        <p id="mobileError" style="color: red"></p>
                      </div>
                      <div class="mb-3">
                        <label
                          for="recipient-name"
                          class="col-form-label"
                        >Housename:</label>
                        <input
                          required
                          type="text"
                          class="form-control"
                          id="housename"
                          name="housename"
                        />
                        <p id="houseError" style="color: red"></p>
                      </div>
                      <div class="mb-3">
                        <label
                          for="recipient-name"
                          class="col-form-label"
                        >Area:</label>
                        <input
                          required
                          type="text"
                          class="form-control"
                          id="area"
                          name="area"
                        />
                        <p id="areaError" style="color: red"></p>
                      </div>
                      <div class="mb-3">
                        <label
                          for="recipient-name"
                          class="col-form-label"
                        >Landmark:</label>
                        <input
                          required
                          type="text"
                          class="form-control"
                          id="landmark"
                          name="landmark"
                        />
                        <p id="landmarkError" style="color: red"></p>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label for="firstName">District</label>
                            <input
                              required
                              type="text"
                              class="form-control"
                              id="district"
                              name="district"
                            />
                            <p id="stateError" style="color: red"></p>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="lastName">State</label>
                            <input
                              required
                              type="text"
                              class="form-control"
                              id="state"
                              name="state"
                            />
                            <p id="pincodeError" style="color: red"></p>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label for="firstName">Post office</label>
                            <input
                              required
                              type="text"
                              class="form-control"
                              id="postoffice"
                              name="postoffice"
                            />
                            <p id="stateError" style="color: red"></p>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="lastName">Pincode</label>
                            <input
                              required
                              type="text"
                              class="form-control"
                              id="pin"
                              name="pincode"
                            />
                            <p id="pincodeError" style="color: red"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancel
                      </button>
                      <button
                        type="submit"
                        value="submit"
                        class="btn btn-success"
                      >
                        Add
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Modal -->
          </div>
          </div>
        </div>
      <div class="col-md-4">
        {{#each cart.data}}
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center mt-2">
                  <div>
                    <img
                      src="/images/{{this.productDetails._id}}.jpg"
                      class="img-fluid rounded-3"
                      alt="Shopping item"
                      style="width: 30px; height: 30px;"
                    />
                  </div>
                  <div class="ms-3">
                    <h6>{{this.productDetails.product_name}} </h6>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <div style="width: 50px;">
                    <p class="fw-normal mb-0">{{this.productQuantity}}</p>
                  </div>
                  <div style="width: 80px;">
                    <h6 class="mb-0">₹ {{this.productPrice}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}

        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary
              <span>({{cart.numberOfItems.totalItems}} Items)</span></h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
              >
                Total MRP
                <span id="totalAmount1">₹
                  {{cart.totalAmount.Amount}}</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
              >
                Discount on MRP
                <span>₹ 00.00</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
              >
                Coupon Discount
                <span>₹ 00.00</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center px-0"
              >
                Shipping
                <span>₹ 00.00</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
              >
                <div>
                  <strong>Total amount</strong>
                </div>
                <span id="totalAmount2"><strong>₹
                    {{cart.totalAmount.Amount}}</strong></span>
              </li>
            </ul>
            <div class="d-grid">
              <a href="/user/checkOut" class="text-center">
                <button type="button" class="btn btn-success btn-lg btn-block">
                  CONTINUE
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>