<div class="container mt-5 mb-5">
  <div class="mt-5 row justify-content-center row-cols-1 row-cols-md-3 g-4">
    {{#each productData}}
        <div class="col w-auto m-4 shadow p-3 mb-5 bg-body rounded">
           <div class="d-flex justify-content-end align-items-end">
                  <h5><span class="badge bg-info ms-2">{{this.productQuantity}}</span></h5>
                </div> 
          
          <div class="card">
            <img
              src="/images/{{this.productDetails._id}}.jpg"
              class="card-img-top img-thumbnail"
              alt=""
              style="height: 250px; width: 250px;"
            />
            <div class="card-body mx-auto">
              <h4 class="card-title text" style="color: #000000;">{{this.productDetails.product_name}}</h4>
              <div class="text-center"><h5
                  class="card-title fw-bold"
                  style="color: #000000;"
                >Rs.{{this.productDetails.price}}</h5></div>
              <p class="card-text" style="color: #575555;">
                {{this.productDetails.description}}
              </p>
            </div>
          </div></a>
        </div>
    {{/each}}
  </div>
</div>