{{#if orders.length}}
<div class="table-responsive p-5">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Order Id</th>
        <th scope="col">Order Date</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Payment</th>
        <th scope="col">Order Status</th>
        <th scope="col">View Products</th>
        <th scope="col">Cancel Order</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td></td>
        <td>{{this._id}} </td>
        <td>{{this.orderDate}}</td>
        <td>{{this.deliveryDate}}</td>
        <td><span><i class="bi bi-currency-rupee"></i>{{this.totalAmount}}</td>
        <td>{{this.paymentStatus}}</td>
        <td>{{this.orderStatus}}</td>
        <td>
          <a href="/viewOrderProducts/{{this._id}}"><button type="button" class="btn btn-info">View Products</button></a>
        </td>
        <td>
          <a href="/orderCancel/{{this._id}}">
          <button type="button" class="btn btn-danger" id="{{this._id}}cancellbutton">Cancel</button>
          </a>
        </td>
      </tr>
        {{/each}}
    </tbody>
  </table>
</div>
{{else}}

<section>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5></h5>
          </div>
          <div class="card-body cart">
            <div class="col-sm-12  text-center">
              <i class="bi bi-truck fa-2x fa-6x text-danger"></i>
              <h3><strong>Your No Orders</strong></h3>
              <a
                href="/"
                class="btn btn-info cart-btn-transform m-3 text-decoration-none"
                data-abc="true"
              >Continue Shopping</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}
