<div class="container mt-5 mb-5">
  <div class="mt-5 row justify-content-center row-cols-1 row-cols-md-3 g-4">
    {{#each wishlist.products}}
        <div class="col w-auto m-4 shadow p-3 mb-5 bg-body rounded" id="{{this.productid}}wishlistproductbody">
          <a href="/getProduct/{{this.productid}}" class="text-decoration-none">
          <div class="card">
            <img
              src="/images/{{this.productid}}.jpg"
              class="card-img-top img-thumbnail"
              alt=""
              style="height: 250px; width: 250px;"
            />
            <div class="card-body mx-auto">
              <h4 class="card-title text" style="color: #000000;">{{this.product_name}}</h4>
              <div class="text-center"><h5
                  class="card-title fw-bold"
                  style="color: #000000;"
                >Rs.{{this.price}}</h5></div>
              <p class="card-text" style="color: #575555;">
                {{this.description}}
              </p>
            </div>
          </div></a>
          <div class="mx-auto m-2 text-center">
              <button type="button" onclick="movetoCart('{{this.productid}}')" class="btn btn-primary text-white fs-5 fw-bold"><span><i class="bi bi-cart-fill fa me-2"></i>Move to Cart</button>
               <button
                      type="button"
                      class="btn btn-danger btn-sm ms-2"
                      onclick="deletewishlistProduct('{{this.productid}}')"
                      data-mdb-toggle="tooltip"
                      title="Remove item"
                    > <i class="fas fa-trash"></i>
               </button>
          </div>
        </div>
    {{/each}}
  </div>
</div>